/*HEADER*/
.logoHeader{
  margin: 15px;
}
/*NAV*/
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
  padding: 15px;
  background-color: #e0a4b6;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
/*BANNER*/
.imagenBanner{
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  grid-area:imagenBanner;
}
.gridBanner{
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  ". textoBanner imagenBanner"
  ". botonesBanner imagenBanner";
  align-items: center;
}
.textoBanner{
  grid-area: textoBanner;
  padding: 37px;
  position: absolute;
  background-color: white;

}

.botonesBanner{
  grid-area:botonesBanner;
}
.bn13 {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}

.bn13:hover {
  background-color: white;
  color: #000000;
}
/*HOVER NAV*/

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.textoIndex{
  display: flex;
  justify-content: center;
}

/*PASOS*/
.pasos{
  display: flex;
  justify-content: center;
}
.pasoUno{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.pasoDos{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.pasoTres{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.pasoTres{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.pasoCuatro{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px;
}
/*MEDIA QUERIES*/
/*HEADER*/
@media only screen and (max-width: 767px){
.logoHeader{max-width: 100%;
display: flex;
justify-content: center;
margin: 10px;}
header{
  display: flex;
  flex-direction: column;
  background-color: white;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: white;
}
ul{
  flex-direction: column;
  display: flex;
  margin: 30px;
  text-align: center;
}

.pasos{
  display: flex;
  flex-direction: column;
}}

/*index*/
h1, h2, h3, h4,h5,h6 {
  font-family: 'Rubik', sans-serif;
  }
  
  p,span,a {
      font-family: 'Roboto', sans-serif;
  }

img{
  max-width: 100%;
}

